Repository b17t/b17t.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, yarn stylelint:fix

.lintstagedrc:

{
  "linters": {
    "_src/*.js": [
      "yarn lint:fix",
      "git add"
    ],
    "_src/*.css": [
      "yarn stylelint:fix",
      "git add"
    ]
  }
}

Add: prettier eslint rules
  .eslintrc
  package.json
  yarn.lock
Due: none

Add: initial readme file
  README.md
  _assets/b17t-avatar-lbox-32.png
Due: none

Rename: gulpfile dev and prod configs
  _dev.js
  _prod.js
  package.json
Due: none

Add: polyfill / normalize via unpkg
  _src/index.html
  _src/interactions.js
Due: yarn lint:fix

Add: initial page layout based on spec
  _src/augment.js
  _src/index.html
  _src/interactions.js
  _src/styling.css
Due: yarn lint:fix, yarn stylelint:fix

Add: mailchimp newsletter capture form
  _src/augment.js
  _src/index.html
  _src/styling.css
Due: yarn lint:fix, yarn stylelint:fix

Update: home page hero copy
  _src/index.html
Due: none

Add: favicon graphic and meta tags
  _src/index.html
  favicon.ico
Due: none

Add: index page basic SEO meta tags
  _src/index.html
Due: none

Add: index page schmema.org json description
  _src/index.html
Due: none

Add: basic robots.txt file
  robots.txt
Due: none

Update: readme file with build script commands
  README.md
Due: none

Update: production build files
  augment.a0633fe0fba650d3ae742611dd5db687.js
  index.html
  styling.c2d8341f98c75addb700abe7c32958e3.css
Due: none
